* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff4ef;
}

.logo {
  width: 200px;
  height: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Averia Sans Libre", cursive;
}

.navbar-ul {
  display: flex;
}

.navbar-li {
  padding: 20px;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: #cb7ca2;
}

.botoes-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botao-contato {
  background-color: #817a8a;
  border: none;
  width: 120px;
  height: 30px;
  margin: 0 15px 0 15px;
  color: #fff;
  font-family: "Overpass Mono", monospace;
  cursor: pointer;
}

.botao-contato:hover {
  background-color: #cdbbbb;
}

main {
  height: 700px;
  background-color: #fff4ef;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-form {
  width: 500px;
  height: 450px;
}

h1 {
  font-family: "Averia Sans Libre", cursive;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

label {
  font-family: "Overpass Mono", monospace;
}

.input {
  width: 300px;
  padding: 10px;
}

.mensagem {
  width: 500px;
  height: 150px;
  margin-bottom: 10px;
}

.enviar {
  background-color: #cb7ca2;
  border: none;
  width: 150px;
  height: 40px;
  color: #fff;
  font-family: "Overpass Mono", monospace;
  cursor: pointer;
  font-size: 19px;
}

footer {
  background-color: #817a8a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
